@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,700;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@400&display=swap');

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: #585858;
  border: 5px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
  opacity: 0;
}

body::-webkit-scrollbar-track {
  background: #3b3b3b;
}
